<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
      <h1>What to watch for in Minnesota's legislative races this year</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
      <!-- share -->
    </div>
    <section class="container-lg">
        <p>Control of Minnesota’s Legislature tends to blow with the up-ballot winds, due in large part to a couple dozen swing seats in greater Minnesota and the Twin Cities suburbs.</p>
        <p>During presidential election years, the winner's party tends to ride those victorious coattails to a legislative majority. Inversely, midterms usually result in backlashes against the majority party and the pendulum swings back the other way.</p>
      </section>
    
      <div class="slide" id="mnswing">
          <div id="map" class="map"><svg width="320" height="350" viewBox="0 0 500 550" preserveAspectRatio="xMidYMid"></svg></div>
      </div>

    <!-- MNHOUSE SWINGS -->
    <div class="slide" id="mnswing">
        <div class="chatter">Shows <span class='d4 legendary'>DFL</span> and <span class='r3 legendary'>GOP</span> Minnesota House seats by election year.</div>
        <div class="chart" id="chart"></div>
      <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
    </div>

    <section class="container-lg">
        <p>This November's midterm could be positioned to follow past trends, even though Republicans hold a 20-seat majority in the Minnesota House of Representatives.</p>
      </section>

    <!-- MNHOUSE CHAMBER -->
    <div class="slide" id="mnaxis">
      <div class="chatter">Shows <span class='d4 legendary'>DFL</span> and <span class='r3 legendary'>GOP</span> Minnesota House seats by CPVI score to mark their 2018 lean.</div>
      <div class="chart" id="chartLeans">
        <div class="grid dflGrid"></div><div class="grid tossGrid"><div class="midline midgrid dtoss"></div><div class="midgrid rtoss"></div></div><div class="grid gopGrid"></div>
        <div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div>
      </div>
      <div class="axisLabel"><span class='d4 legendary'>⇦ More Democratic</span> | <span class='r3 legendary'>More Republican ⇨</span></div>
      <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
    </div>
      
  
      <section class="container-lg">
        <p>Content goes here.</p>
      </section>
  
    <!-- MNHOUSE TOSSUPS -->
    <div class="slide" id="mnaxis">
      <div class="chatter">Shows <span class='d4 legendary'>DFL</span> and <span class='r3 legendary'>GOP</span> Minnesota House seats by CPVI score to mark their 2018 lean.</div>
      <div class="chart" id="chartTossups">
          <div class="grid dflGrid"></div><div class="grid tossGrid"><div class="midline midgrid dtoss"></div><div class="midgrid rtoss"></div></div><div class="grid gopGrid"></div>
          <div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div>
      </div>
      <div class="axisLabel"><span class='d4 legendary'>⇦ More Democratic</span> | <span class='r3 legendary'>More Republican ⇨</span></div>
      <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
    </div>
  
      <section class="container-lg">
          <p>Content goes here.</p>
      </section>
  
    <!-- MNHOUSE REGIONAL SHIFTS -->
    <div class="slide" id="mnaxis">
      <div class="chatter">Shows <span class='d4 legendary'>DFL</span> and <span class='r3 legendary'>GOP</span> Minnesota House seats by CPVI score to mark their 2018 lean.</div>
      <div class="grid dflGrid"></div><div class="grid tossGrid"><div class="midline midgrid dtoss"></div><div class="midgrid rtoss"></div></div><div class="grid gopGrid"></div>
      <div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div><div class="gridAxis rAxis">0</div>
      <div class="axisLabel"><span class='d4 legendary'>⇦ More Democratic</span> | <span class='r3 legendary'>More Republican ⇨</span></div>
      <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
    </div>
  
      <section class="container-lg">
        <p>Content goes here.</p>
      </section>
  </div>


