<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
      <h1>What to watch for in Minnesota's legislative races this year</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
      <!-- share -->
    </div>
    <section class="container-lg">
        <p>Control of Minnesota’s Legislature tends to blow with the up-ballot winds, due in large part to a couple dozen swing seats in greater Minnesota and the Twin Cities suburbs.</p>
        
        <p>During presidential election years, the winner's party tends to ride those victorious coattails to a legislative majority. Inversely, midterms usually result in backlashes against the majority party and the pendulum swings back the other way.</p>
      </section>

    <!-- MNHOUSE SWINGS -->
    <div class="slide" id="mnswing">
        <div class="chart" id="chart"></div>
      <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
    </div>

    <section class="container-lg">
      <p>This November's midterm could be positioned to follow past trends, since the <span class='d4 legendary'>DFL</span> only needs to flip 11 seats from <span class='r3 legendary'>GOP</span> control to retake the Legislature.</p>

      <p>The Star Tribune has analyzed each race and isolated which contensts to watch closely on Election Night.</p>
    </section>

      <div class="rule"></div>
      <section class="container-lg">
      <h2 class="chartTitle">Rating Minnesota's legislative races</h2>

      <p>There often isn't much polling available for state legislative races, which means several factors have to be considered when rating which races might be closest each election year.</p>

      <p>In a chamber of 134 seats, 68 are needed to hold a majority, which Republicans have with 77 seats compared to 57 Democrats.</p>

      <p>A Star Tribune analysis shows 14 out of 17 competitive seats are held by the GOP.</p>
      </section>

    <!-- MNHOUSE CHAMBER -->
    <div class="slide" id="mnaxis">
      <div class="chart" id="chartLeans">
          <div class="grid" id="dGrid">
            <div class="bar bar1"><span id="DFL1" class="count"></span> - DFL Tossup</div>
            <div class="blocks blocks1"></div>

            <div class="bar bar2"><span id="DFL2" class="count"></span>  - DFL Competitive</div>
            <div class="blocks blocks2 adjust"></div>

            <div class="bar bar3"><span id="DFL3" class="count"></span> - DFL Likely</div>
            <div class="blocks blocks3 adjust"></div>

            <div class="bar bar4"><span id="DFL4" class="count"></span>  - DFL Solid</div>
            <div class="blocks blocks4"></div>
          </div>
          <div class="grid" id="rGrid">
            <div class="bar bar1"><span id="GOP1" class="count"></span>  - GOP Tossup</div>
            <div class="blocks blocks1"></div>

            <div class="bar bar2"><span id="GOP2" class="count"></span>  - GOP Competitive</div>
            <div class="blocks blocks2 adjust"></div>

            <div class="bar bar3"><span id="GOP3" class="count"></span>  - GOP Likely</div>
            <div class="blocks blocks3 adjust"></div>

            <div class="bar bar4"><span id="GOP4" class="count"></span>  - GOP Solid</div>
            <div class="blocks blocks4"></div>
          </div>
      </div>

      <div class="byline">Source: Minnesota Secretary of State, The Cook Political Report | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
    </div>
      

      <section class="container-lg">
        <p>The competitive lean of these races is based upon both Star Tribune analysis and the assignment of a Cook Partisan Voting Index assigned to each district. This index, created by The Cook Political report to score the competitivenesss of U.S. House races, compares the average party votes of the past two presidential elections and compares it to district-level election results.</p>
      </section>

      <div class="rule"></div>
      <section class="container-lg">
      <h2 class="chartTitle">Minnesota's hottest legislative races</h2>

      <p>NEED A LOT OF COOLICAN INSIGHT HERE</p>
      </section>

      
    <div class="slide" id="mnswing">
        <div class="chart" id="chartAxis"></div>
      <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
    </div>

    <section class="container-lg">
    <p>JUST TEXT THINGS</p>
    </section>


    <div class="rule"></div>
    <section class="container-lg">
    <h2 class="chartTitle">Watching the rural and suburban votes</h2>
    <p>Minnesota's urban/rural political divide became even more geographically pronounced after 2016. In follows then that most competitive legislative races are in areas that have shifted their political alignment the most over time.</p>

    <p>Districts in Minnesota's Iron Range and Southern Minnesota — traditionally Democratic strongholds — voted overwhelmingly for Donald Trump in 2016. Inversely, many suburban districts that often vote Republican were won by Hillary Clinton by large margins.</p>
    </section>

    <div class="slide" id="mnswing">
        <div id="map" class="map"><svg width="320" height="350" viewBox="0 0 500 550" preserveAspectRatio="xMidYMid"></svg></div>
        <div class="byline">Source: Minnesota Secretary of State, The Cook Political Report | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>

    </div>
  
    <section class="container-lg">
      <p>It's no accident that those regions are home to major battleground districts in the U.S. House of Representatives as well. How those races swing in November may affect the outcomes of these competitive legislative districts.</p>

      <p>Of course, statewide elections could also have an effect, particularly depending upon whether gubernatorial and senatorial candidates from either party can shore-up a geographically diverse enough coalition to win.</p>
    </section>

    <div class="rule"></div>
    <section class="container-lg">
      <h2 class="chartTitle">What about the Minnesota Senate?</h2>
      <p>As for the Minnesota Senate, the only race this year is the special election for District 13 to replace Michelle Fischbach (R), who is now the outgoing lieutenant governor.</p>

      <p>This race, between Jeff Howe (R) and Joe Perske (DFL), is in a heavily Republican Senate district comprised of legislative districts 13A and 13B, which respectively have CPVI scores of R+16 and R+17.</p>

      <p>So while this isn't a reelection year for the Minnesota Senate, a pivotal race puts its balance of power on the table in November, giving both parties a chance to cement control over each state legislative chamber.</p>
    </section>
  
  </div>


